<div fxHide.gt-xs class="background-xs"></div>
<div fxHide.lt-sm class="background-sm"></div>


<div class="container map-container-xs"
  fxFlex="75"
  fxFlexAlign="center center"
  fxHide.gt-xs>
  <div fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="continent"
    class="map mat-typography dark-background">
    <div fxFlex>
      <h1 class="title-xs">{{ continent.name }}</h1>
      <img class="map-img" src="{{ img_link }}" alt="{{ continent.name }}">
    </div>
  </div>
  <div fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="continent"
    class="accordion dark-background map">
    <div *ngIf="continentName.toLowerCase() != 'planes'" fxFlex fxFlexFill>
      <mat-accordion class="btn-container" multi="true" color="primary-light">


        <mat-expansion-panel class="btn-container">
          <mat-expansion-panel-header>
          Cities
          </mat-expansion-panel-header>

          <mat-list class="btn-container" >
            <mat-list-item class="btn-container" *ngFor="let city of cities">
              <a class="btn-container" mat-button [routerLink]="['/zones/', city.name]"> <span class="btn-text">{{ city.name }}</span></a>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>



        <mat-expansion-panel class="btn-container">
          <mat-expansion-panel-header>
            Dungeons
          </mat-expansion-panel-header>  
          <mat-list class="btn-container" >
            <mat-list-item class="btn-container" *ngFor="let zone of indoorZones">
              <a class="btn-container" mat-button [routerLink]="['/zones/', zone.name]"> <span class="btn-text">{{ zone.name }}</span></a>
            </mat-list-item>
          </mat-list> 
        </mat-expansion-panel>

        <mat-expansion-panel class="btn-container">
          <mat-expansion-panel-header>
            Outdoor Zones
          </mat-expansion-panel-header>
          <mat-list class="btn-container" >
            <mat-list-item class="btn-container" *ngFor="let zone of outdoorZones">
              <a class="btn-container" mat-button [routerLink]="['/zones/', zone.name]"> <span class="btn-text">{{ zone.name }}</span></a>
            </mat-list-item>
          </mat-list>  
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="continentName.toLowerCase() == 'planes'" fxFlex fxFlexFill>
        <mat-accordion class="btn-container" color="primary-light">
          <mat-expansion-panel class="btn-container">
            <mat-expansion-panel-header>
            Planes
            </mat-expansion-panel-header>
  
            <mat-list class="btn-container" >
              <mat-list-item class="btn-container" *ngFor="let plane of planes">
                <a class="btn-container" mat-button [routerLink]="['/zones/', plane.name]"> <span class="btn-text">{{ plane.name }}</span></a>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
    </div>
  </div>
</div>




<div class="container map-container"
  fxFlex="70"
  fxFlexAlign="center center"
  fxHide.lt-sm
  fxHide.gt-sm>
  <div fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="continent"
    class="map dark-background mat-typography">
    <div fxFlex>
      <h1 class="title">{{ continent.name }}</h1>
      <img class="map-img" src="{{ img_link }}" alt="{{ continent.name }}">
    </div>
  </div>
  <div fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="continent"
    class="accordion map dark-background">
    <div *ngIf="continentName.toLowerCase() != 'planes'" class="map" fxFlex fxFlexFill>
      <mat-accordion multi="true" color="primary-light">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
          Cities
          </mat-expansion-panel-header>
          <mat-grid-list rowHeight="3em" cols="2">
            <mat-grid-tile *ngFor="let city of cities">
              <a mat-button [routerLink]="['/zones/', city.name]"> <span class="btn-text">{{ city.name }}</span></a>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Dungeons
          </mat-expansion-panel-header>  
          <mat-grid-list rowHeight="3em" cols="2">
            <mat-grid-tile *ngFor="let zone of indoorZones">
              <a mat-button [routerLink]="['/zones/', zone.name]"> <span class="btn-text">{{ zone.name }}</span></a>
            </mat-grid-tile>
          </mat-grid-list> 
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Outdoor Zones
          </mat-expansion-panel-header>
          <mat-grid-list rowHeight="3em" cols="2">
            <mat-grid-tile *ngFor="let zone of outdoorZones">
              <a mat-button [routerLink]="['/zones/', zone.name]"> <span class="btn-text">{{ zone.name }}</span></a>
            </mat-grid-tile>
          </mat-grid-list>        
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div *ngIf="continentName.toLowerCase() == 'planes'" class="map" fxFlex fxFlexFill>
        <mat-accordion color="primary-light">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
            Planes
            </mat-expansion-panel-header>
            <mat-grid-list rowHeight="3em" cols="2">
              <mat-grid-tile *ngFor="let plane of planes">
                <a mat-button [routerLink]="['/zones/', plane.name]"> {{ plane.name }}</a>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-expansion-panel>
        </mat-accordion>
  
    </div>
  </div>
</div>



<div class="container map-container"
  fxFlex="60"
  fxFlexAlign="center center"
  fxHide.lt-md
  fxHide.gt-md>
  <div fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="continent"
    class="map dark-background mat-typography">
    <div fxFlex>
      <h1 class="title">{{ continent.name }}</h1>
      <img class="map-img" src="{{ img_link }}" alt="{{ continent.name }}">
    </div>
  </div>
  <div fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="continent"
    class="accordion map dark-background">
    <div *ngIf="continentName.toLowerCase() != 'planes'" class="map" fxFlex fxFlexFill>
      <mat-accordion multi="true" color="primary-light">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
          Cities
          </mat-expansion-panel-header>
          <mat-grid-list rowHeight="2em" cols="2">
            <mat-grid-tile *ngFor="let city of cities">
              <a mat-button [routerLink]="['/zones/', city.name]"> {{ city.name }}</a>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Dungeons
          </mat-expansion-panel-header>  
          <mat-grid-list rowHeight="2em" cols="2">
            <mat-grid-tile *ngFor="let zone of indoorZones">
              <a class="btn-container" mat-button [routerLink]="['/zones/', zone.name]"> {{ zone.name }}</a>
            </mat-grid-tile>
          </mat-grid-list> 
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Outdoor Zones
          </mat-expansion-panel-header>
          <mat-grid-list rowHeight="2em" cols="2">
            <mat-grid-tile *ngFor="let zone of outdoorZones">
              <a mat-button [routerLink]="['/zones/', zone.name]"> {{ zone.name }}</a>
            </mat-grid-tile>
          </mat-grid-list>        
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="continentName.toLowerCase() == 'planes'" class="map" fxFlex fxFlexFill>
        <mat-accordion color="primary-light">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
            Planes
            </mat-expansion-panel-header>
            <mat-grid-list rowHeight="2em" cols="2">
              <mat-grid-tile *ngFor="let plane of planes">
                <a mat-button [routerLink]="['/zones/', plane.name]"> {{ plane.name }}</a>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-expansion-panel>
        </mat-accordion>
    </div>
    
  </div>
</div>



<div class="container map-container"
  fxFlex="40"
  fxFlexAlign="center center"
  fxHide.lt-lg>
  <div fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="continent"
    class="map dark-background mat-typography">
    <div fxFlex>
      <h1 class="title">{{ continent.name }}</h1>
      <img class="map-img" src="{{ img_link }}" alt="{{ continent.name }}">
    </div>
  </div>
  <div fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="continent"
    class="accordion map dark-background">
    <div *ngIf="continentName.toLowerCase() != 'planes'" class="map" fxFlex fxFlexFill>
      <mat-accordion multi="true" color="primary-light">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
          Cities
          </mat-expansion-panel-header>
          <mat-grid-list rowHeight="2em" cols="2">
            <mat-grid-tile *ngFor="let city of cities">
              <a mat-button [routerLink]="['/zones/', city.name]"> {{ city.name }}</a>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Dungeons
          </mat-expansion-panel-header>  
          <mat-grid-list rowHeight="2em" cols="2">
            <mat-grid-tile *ngFor="let zone of indoorZones">
              <a mat-button [routerLink]="['/zones/', zone.name]"> {{ zone.name }}</a>
            </mat-grid-tile>
          </mat-grid-list> 
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Outdoor Zones
          </mat-expansion-panel-header>
          <mat-grid-list rowHeight="2em" cols="2">
            <mat-grid-tile *ngFor="let zone of outdoorZones">
              <a mat-button [routerLink]="['/zones/', zone.name]"> {{ zone.name }}</a>
            </mat-grid-tile>
          </mat-grid-list>        
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div *ngIf="continentName.toLowerCase() == 'planes'" class="map" fxFlex fxFlexFill>
      <mat-accordion color="primary-light">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
          Planes
          </mat-expansion-panel-header>
          <mat-grid-list rowHeight="2em" cols="2">
            <mat-grid-tile *ngFor="let plane of planes">
              <a mat-button [routerLink]="['/zones/', plane.name]"> {{ plane.name }}</a>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-expansion-panel>
      </mat-accordion>
   

    </div>
  </div>
</div>