
.zone {
    padding: 5vh 6vh 0vh 6vh;
}


.center-text {
    text-align: center;
    padding: 2vh 0vh 5vh 0vh;
}

.tab-map-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.tab-map {
    width: 100%;
}

.center {
    margin: auto;
}

.title {
    font-size: 133%;
}
.nav {
    padding: 10vh 6vh 0vh 6vh;
    text-align: left;
    font-size: 90%;
}


.zone-name {
    font-size: 166%;
}

.link {
    text-decoration: none;
    color: #368bc1
}

.link:visited {
    color: #368bc1;
}

.link:hover {
    color: #2c3539;
}

.text {
    font-size: 95%;
    font-family: "Quattrocento Sans", sans-serif;
}
