$background-light: #989898;
$dark-background: #151515;



body {
    margin: 0px 0px 0px 0px;
    font-family:  "IM Fell English SC", sans-serif;
    transition-timing-function: ease-in;
    transition-duration: 1s;
}

.background-xs {
    background-image: url("/assets/images/norrath-map-xs.jpg");
 
    top: 0;
    height: 100%;
    width: 100%;

    z-index: -1;
    
    position: fixed;
    background-size: 95%;
    background-color: $dark-background;
    background-position: center;
    background-repeat: no-repeat;

}

.background-sm {
    background-image: url("/assets/images/norrath-map-lg.jpg");
 
    top: 0;
    height: 100%;
    width: 100%;

    z-index: -1;
    
    position: fixed;
    background-size: 95%;
    background-color: $dark-background;
    background-position: center;
    background-repeat: no-repeat;

}

.container {
    padding: 15px 10px 15px 10px;
    margin: 0px auto;
    opacity: 0.93;
    //height: 100%;
}


.dark-background {
    background-color: $dark-background;
    color: floralwhite;

}   

.active {
    background-color: #989898;
  
}

.background-light {
    background-color: $background-light;
}

