<div fxHide.gt-xs class="background-xs"></div>
<div fxHide.lt-sm class="background-sm"></div>



<div class="home">


<div *ngIf="zones"
fxLayout="column"
fxFlex="70"
fxHide.lt-md
class="container">

<mat-card class="map-container" *ngFor="let continent of continents">

  <mat-card-title>
  <div  fxFlex="100"
   fxLayoutAlign="center center">
    <a class="title" mat-button [routerLink]="['/continent/', continent.name]">{{ continent.name }}</a>
    <br>
    <br>
  </div>

  </mat-card-title>
<mat-card-content>
  <div class="zone-container"
    fxLayoutAlign="start start"
    fxFlex="100">
  
    <div fxFlex="50"
      fxFlexOrder="2"
      fxFlexOffset="5" 
      fxFlexAlign="start center">
      <a [routerLink]="['/continent/', continent.name]"><img class="img" src="assets/images/{{continent.name}}.jpg" alt="{{continent.name}}"></a>
    </div>

    <div fxFlex="20"
    fxFlexOrder="1"
    *ngIf="continent.name === 'planes'">
    <br>
    <p class="category">Planes</p>
    <br>
    <mat-grid-list cols="1" rowHeight="5vh">
    <div *ngFor="let zone of continent.zones">
      <mat-grid-tile>
        <a class="text align-right" mat-button [routerLink]="['/zones/', zone.name]">{{ zone.name }}</a>
      </mat-grid-tile>
    </div>  
  </mat-grid-list>
  </div>

    <div fxFlex="20"
      fxFlexOrder="1"
      *ngIf="continent.name !== 'planes'">
      <br>
      <p class="category">Cities</p>
      <br>
      <mat-grid-list cols="1" rowHeight="5vh">
      <div *ngFor="let zone of continent.zones">
        <mat-grid-tile *ngIf="zone.zone_type.toLowerCase() === 'city'">
          <a class="text align-right" mat-button [routerLink]="['/zones/', zone.name]">{{ zone.name }}</a>
        </mat-grid-tile>
      </div>  
    </mat-grid-list>
    </div>

    <div fxFlex="30"
      fxFlexOrder="3"
      *ngIf="continent.name !== 'planes'">
      <br>
      <p class="category">Dungeons</p>
      <br>
      <mat-grid-list cols="1" rowHeight="5vh">
        <div *ngFor="let zone of continent.zones">
          <mat-grid-tile *ngIf="zone.zone_type.toLowerCase() === 'indoor'">
            <a class="text" mat-button [routerLink]="['/zones/', zone.name]">{{ zone.name }}</a>
          </mat-grid-tile>
        </div>
    </mat-grid-list>
    </div>
  </div>

</mat-card-content>

<mat-card-footer>

  <div class="zone-container"
    fxFlex="100"
    *ngIf="continent.name !== 'planes'">
    <br>
    <p class="category">Outdoor Zones</p>
    <br>
    
    <mat-grid-list cols="4" rowHeight="5vh">
      <div *ngFor="let zone of continent.zones">
        <mat-grid-tile *ngIf="zone.zone_type.toLowerCase() === 'outdoor'">
          <a class="text" mat-button [routerLink]="['/zones/', zone.name]">{{ zone.name }}</a>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</mat-card-footer>





</mat-card>
  










</div>


</div>


<!-- <div class="container map-container-xs"
  fxFlex="70"
  fxFlexAlign="center center"
  fxHide.gt-xs
  *ngIf="continents">
  <div fxLayout="column"
    fxLayoutAlign="center center"
    *ngFor="let continent of continents"
    class="map mat-typography dark-background">
    
    <div fxFlex>
      <h1 class="title-xs">{{ continent.name }}</h1>
      <img class="map-img" src="{{ continent.img_link }}" alt="{{ continent.name }}">
    </div>
  
  
    
    <div *ngIf="continent.name.toLowerCase() != 'planes'" fxFlex fxFlexFill
      class="accordion dark-background map">
      <mat-accordion class="btn-container" multi="true" color="primary-light">


        <mat-expansion-panel class="btn-container">
          <mat-expansion-panel-header>
          Cities
          </mat-expansion-panel-header>

          <mat-list class="btn-container" >
            <mat-list-item class="btn-container" *ngFor="let city of continent.cities">
              <a class="btn-container" mat-button [routerLink]="['/zones/', city.name]"> <span class="btn-text">{{ city.name }}</span></a>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>


        <mat-expansion-panel class="btn-container">
          <mat-expansion-panel-header>
            Dungeons
          </mat-expansion-panel-header>  
          <mat-list class="btn-container" >
            <mat-list-item class="btn-container" *ngFor="let zone of continent.indoorZones">
              <a class="btn-container" mat-button [routerLink]="['/zones/', zone.name]"> <span class="btn-text">{{ zone.name }}</span></a>
            </mat-list-item>
          </mat-list> 
        </mat-expansion-panel>

        <mat-expansion-panel class="btn-container">
          <mat-expansion-panel-header>
            Outdoor Zones
          </mat-expansion-panel-header>
          <mat-list class="btn-container" >
            <mat-list-item class="btn-container" *ngFor="let zone of continent.outdoorZones">
              <a class="btn-container" mat-button [routerLink]="['/zones/', zone.name]"> <span class="btn-text">{{ zone.name }}</span></a>
            </mat-list-item>
          </mat-list>  
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="continent.name.toLowerCase() == 'planes'" fxFlex fxFlexFill
      class="accordion dark-background map">
        <mat-accordion class="btn-container" color="primary-light">
          <mat-expansion-panel class="btn-container">
            <mat-expansion-panel-header>
            Planes
            </mat-expansion-panel-header>
  
            <mat-list class="btn-container" >
              <mat-list-item class="btn-container" *ngFor="let plane of continent.planes">
                <a class="btn-container" mat-button [routerLink]="['/zones/', plane.name]"> <span class="btn-text">{{ plane.name }}</span></a>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
    </div>
  </div>
</div>  -->

<!-- </div> -->

 
