.home {
    padding: 15vh 0vh 85vh 0vh;
}

.img-home-container {
    padding: 0px 30px 0px 30px;
    
    flex: 1 1 auto;
}

.img-home {
    width: 100%;
    padding: 0px 10px 0px 0px;
}


.map {
    color: floralwhite;
    text-align: center;
    margin: 0px 0px 0px 0px;
    background: #000000;
    padding: 2vh 0vh 2vh 0vh;
    
}

::ng-deep .mat-expansion-panel-body {
    padding: 1vh 1vh 1vh 1vh !important; 
}

::ng-deep .mat-list-item-content {
    padding: 0px 0px 0px 0px !important;
}



.accordion {
    margin: 0vh 0vh 0vh 0vh;
    padding: 5vh 0vh 5vh 0vh;
}

.btn-text {
    width: 100%;
    text-align: center;
    overflow-wrap: break-word;
}

::ng-deep .mat-button {
    width: 100%;
    padding: 0px 0px 0px 0px !important;
}

.map-img {
    width: 100%;
    flex:1 1 auto;    
}

.title {
    padding: 3vh 0vh 3vh 0vh;
}


.title-xs {
    padding: 2vh 0vh 2vh 0vh;
}

.map-container-xs {
    padding: 3vh 3vh 3vh 3vh;
    background-color: #000000;
   
}



.link:hover {
    color: #2c3539;
}